<h1>Teste Bootstrap</h1>
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <img src="assets/img/logo_horacio.png" alt="" />
        </div>
        <!--Fim do card Body-->
      </div>
      <!--Fim do card Card-->
    </div>
    <!--Fim do Col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <img src="assets/img/crud.png" alt="" />
        </div>
        <!--Fim do card Body-->
      </div>
      <!--Fim do card Card-->
    </div>
    <!--Fim do Col-->
  </div>
</div>
<router-outlet></router-outlet>
